services:
  app:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: ["streamlit", "run", "app.py", "--server.address=0.0.0.0", "--server.port=8501"]
